.dialog {
	backdrop-filter: blur(4px);
	position: absolute;
	border: none;
	z-index: 3;
	text-align: center;
	border-radius: 8px;
	padding-bottom: 3rem;
	width: 50vw;
}

#success-dialog {
	background-color: #2d5b39eb;
	top: 20%;
	max-width: 50rem;
	color: white;

	h3 {
		font-family: "Krub", sans-serif;
		font-weight: 700;
		font-size: 1.5rem;
		color: #c9ff79;
	}
	.task-info {
		font-size: 1.2rem;
		margin-inline: 4%;
		small {
			display: block;
			font-size: 0.8rem;
			color: #e0e1e0;
		}
	}

	.campaign-code {
		font-size: 2rem;
		letter-spacing: 0.4rem;
		color: var(--rose);
		font-weight: 700;
		padding-bottom: 1rem;
		cursor: pointer;
	}
}

#error-dialog {
	background-color: #531919d1;
	top: 24%;
	color: #f9e6e6;
}

#confirm-dialog {
	background-color: var(--dark-grey--translucent);
	top: 20%;
	color: #f9e6e6;
	padding-inline: 3%;

	.new-code {
		margin-top: 1.5rem;
	}
}

#legal-dialog {
	background-color: var(--dark-grey--translucent);
	border: 1px solid var(--mui-palette-primary-main);
	line-height: 1.3rem;
}
