#success-dialog {
	background-color: #2d5b39dd;
	backdrop-filter: blur(4px);
	position: absolute;
	top: 15%;
	width: 60vw;
	border: none;
	border-radius: 8px;
	z-index: 3;
	color: white;
	text-align: center;
}

.task-request-form {
	width: 90%;
	text-align: center;
	display: flex;
	flex-direction: column;
}
