.close-btn__container {
	display: grid;
	place-content: center;
	width: 100%;
}

.close-btn__container--drawer {
	height: 100%;
	position: absolute;
	align-content: center;
	.MuiButtonBase-root {
		padding-left: 0;

		svg:hover {
			color: var(--mui-palette-primary-200);
		}
	}
}
